.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 75px;
  border-radius: 50px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* For Header */

/* For footer*/
#bloc1, #bloc2
{
    display:inline;

}
#bloc1{
  float: left;
}
#bloc2{
  float: right;
}
/* For Home Page*/
.WholeContent h2{
  text-align: center;
}



/*For login_github*/

.log_github{
  margin-top: 200px;
}

#button{
  display: inline;
  background-color: black;
  
}
.WholeContent{
margin-top: 80px;
width: 80%;
margin-left: 50px;
}
/*For BuildReport*/
.listbox
{
margin-top: 40px;
margin-bottom: 100px;
}
.dialog
{
	
	padding: 10px;
}
.paper
{
	padding: 20px;
	
}
.head
{
	margin-top: 100px;
}
h2,h1,h4{
font-family: 'Roboto', sans-serif;
}
.tabs b{
  font-family: 'Oswald', sans-serif;
}