.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* For Header */

/* For footer*/
#bloc1, #bloc2
{
    display:inline;

}
#bloc1{
  float: left;
}
#bloc2{
  float: right;
}
/* For Home Page*/
.WholeContent h2{
  text-align: center;
  
}
.WholeContent{
margin-top: 80px;
width: 80%;
margin-left: 50px;
}